<!-- <div class="new-type">

  <mat-form-field>
    <input matInput
           placeholder="{{'FILM.FORM_LABEL_NAME' | translate}}"
           [(ngModel)]="type.name"
           [formControl]="nameControl">

    <mat-error *ngIf="!nameControl.valid">{{'VALIDATION.REQUIRED' | translate}}</mat-error>
  </mat-form-field>

</div> -->
