@import "../../../../assets/styles/variables";

.search {
  margin: 10px 20px;
  align-items: center;
  display: flex;
  background:rgb(225, 236, 175);
  flex-direction: column;
}
.films {
  display: flex;

  .films-list {
    width: 100%;
    max-width: $site-max-width;
    flex-wrap: wrap;
    justify-content: space-around;
    .film-element {
      width: 200px;
      cursor: pointer;
      margin: 10px;
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid $transparent-black5;

      .details {
        width: calc(100% - 100px);
        .name {
          font-weight: 800;
        }
       
      }

      &:hover {
        background: $transparent-black1;
      }
    }
  }

}
