<app-header></app-header>

<div class="search">
  <mat-form-field>
    <input matInput
           [(ngModel)]="searchText"
           (input)="search()"
           placeholder="{{'FILM.FORM_LABEL_SEARCH' | translate}}">
  </mat-form-field>
</div>
<div class="films" >
  <div class="films-list">
    <div *ngFor="let film of films"
         (click)="goToDetails(film)"
         class="film-element">
       <div class="details">
        <div class="name">
          {{film.name}}
        </div>

      </div>

    </div>
  </div>
</div>

<div class="search-results"
     *ngIf="!allLoaded"
     infiniteScroll
     infiniteScrollDistance="2"
     infiniteScrollThrottle="50"
     (scrolled)="onScroll()">
</div>
