<div class="film">

  <div class="details">
    <div class="preview-mode">

      <mat-form-field  style="width: 40%;">
        <input matInput
               disabled="true"
               placeholder="{{'FILM.FORM_LABEL_NAME' | translate}}"
               [ngModel]="product?.name"/>
      </mat-form-field>

      
      <mat-form-field  style="width: 40%;">
          <input matInput
                 disabled="true"
                 placeholder="{{'FILM.FORM_LABEL_CATEGORY' | translate}}"
                 [ngModel]="product?.type?.name"/>
        </mat-form-field>

      <mat-form-field  style="width: 40%;">
          <input matInput
                 disabled="true"
                 [ngModel]="product?.producer"
                 placeholder="{{'FILM.FORM_LABEL_DIRECTOR' | translate}}">
        </mat-form-field>

      <mat-form-field>
        <input matInput
               disabled="true"
               [ngModel]="product?.descriptions"
               placeholder="{{'FILM.FORM_LABEL_DESCRIPTIONS' | translate}}"/>
      </mat-form-field>


       <mat-form-field>
        <input matInput
               disabled="true"
               [ngModel]="product?.color"
               placeholder="{{'FILM.FORM_LABEL_OPINION' | translate}}"/>
      </mat-form-field> 

      
    </div>
  </div>
</div>

<div class="buttons" *ngIf="isAdmin()">
  <button mat-raised-button color="primaryColor"
          (click)="editFilm()">
    {{'FILM.FORM_LABEL_EDIT' | translate}}
  </button>
</div>
