@import "product";

body {
  background: $white;
}

.mat-tab-label {
  width: 100%;
}

.hide {
  display: none;
}

.base-container {
  display: flex;
  flex-direction: column;
  background: rgb(207, 195, 195);
}

.button-footer {
  width: 100%;
  padding-top: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: white;
  justify-content: space-between;
}

.mat-tab-body-wrapper {
  transition: none;
}

.validation-error {
  color: $red;
  margin-bottom: 4px;
  margin-top: -20px;
  padding-left: 8px;
  font-size: $small-font;
  &:before {
    content: '*';
  }
}

ngx-spinner {
  &.inner {
    .black-overlay {
      position: absolute;
      background-color: rgba(51, 51, 51, 0.2) !important;
    }
  }
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background: #666;
}

::-webkit-scrollbar-track {
  background: #ddd;
}

