$white: #ffffff;
$black: #000;
$dark-white: #CCCCCC;
$light-black: #333333;
$red: #dd0a00;
$primaryColor: #be663d;
$transparent-black1: rgba(0,0,0,0.1);
$transparent-black2: rgba(0,0,0,0.2);
$transparent-black3: rgba(0,0,0,0.3);
$transparent-black5: rgba(0,0,0,0.5);

$site-max-width: 1024px;
$site-column-max-width: 512px;
$border-radius: 10px;
$default-popup-top: 100px;

$z-index10: 1000;
$z-index9: 990;

$small-font: 11px;
$middle-font: 13px;
