@import "../../../assets/styles/variables";

.header {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $primaryColor;
  .header-container {
    position: relative;
    width: 100%;
    max-width: $site-max-width;
    height: 100%;
    .menu-container {
      float: left;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      a:not(:first-child) {
        &:before {
          content: '|';
          padding: 0 5px 0 0;
        }
      }
    }
    .sign-container {
      float: right;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  a {
    color: $white;
    cursor: pointer;
    font-size: $middle-font;
    padding: 0 5px;
    text-decoration: none;
    &:hover {
      color: $dark-white;
    }

    &.active {
      color: $dark-white;
      cursor: unset;
    }

    &:before {
      color: $white;
    }
  }
}
