<app-popup #signPopup>
  <app-sign (hideSignPopup)="hideSignPopup()"></app-sign>
</app-popup>

<div class="header">
  <div class="header-container">
    <div class="menu-container">
     <strong> Zaawansowane metody wytwarzania aplikacji webowych</strong>
    </div>

    <div class="sign-container">
        <a *ngIf="isAdmin()"
        [routerLink]="['/film/new']"
        routerLinkActive="active">
     {{'FILM.HEADER_NEW_FILM_LABEL' | translate}}
     </a>

     <a [routerLink]="['/films']"
        routerLinkActive="active">
       {{'FILM.HEADER_FILMS_LABEL' | translate}}
     </a>


      <a *ngIf="!isLogged()"
         (click)="showSignPopup()">
        {{'SIGN.FORM_LABEL_SIGN_IN' | translate}} / {{'SIGN.FORM_LABEL_SIGN_UP' | translate}}
      </a>
      <a *ngIf="isLogged()"
         (click)="logout()">
        {{'SIGN.FORM_LABEL_LOGOUT' | translate}}
      </a>
    </div>
  </div>
</div>

