<div class="film">
  <div class="details">
    <div class="edit-mode">

      <mat-form-field style="width: 40%;">
        <input matInput
               placeholder="{{'FILM.FORM_LABEL_NAME' | translate}}"
               [(ngModel)]="film.name"
               [formControl]="nameControl">

        <mat-error *ngIf="!nameControl.valid">{{'VALIDATION.REQUIRED' | translate}}</mat-error>
      </mat-form-field>

      
      <mat-form-field style="width: 40%;">
          <mat-select placeholder="{{'FILM.FORM_LABEL_CATEGORY' | translate}}"
                      [(ngModel)]="film.category"
                      [formControl]="categoryControl">
            <mat-option *ngFor="let category of categories" [value]="category">
              {{category.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!categoryControl.valid">{{'VALIDATION.REQUIRED' | translate}}</mat-error>
        </mat-form-field>
        
      <mat-form-field style="width: 40%;">
          <input matInput
                 [(ngModel)]="film.director"
                 placeholder="{{'FILM.FORM_LABEL_DIRECTOR' | translate}}">
        </mat-form-field>

      <mat-form-field>
        <input matInput
               [(ngModel)]="film.descriptions"
               placeholder="{{'FILM.FORM_LABEL_DESCRIPTIONS' | translate}}">
      </mat-form-field>


      <mat-form-field>
        <input matInput
               [(ngModel)]="film.opinion"
               placeholder="{{'FILM.FORM_LABEL_OPINION' | translate}}">
      </mat-form-field>

     

    </div>
  </div>
</div>

<div class="buttons">
  <button mat-raised-button color="primaryColor"
          [disabled]="!isFormValid()"
          (click)="createFilm()">
    {{'FILM.FORM_LABEL_SAVE' | translate}}
  </button>
</div>
