<app-header [filmId]="film?.id" [filmName]="product?.name"></app-header>

<div class="film-container" style="background:rgb(225, 236, 175);">

  <app-edit-film [film]="film"
                    (switchEditMode)="switchEditMode($event)"
                    *ngIf="editMode && film">
  </app-edit-film>

  <app-preview-film [film]="film"
                       (switchEditMode)="switchEditMode($event)"
                       *ngIf="!editMode && film">
  </app-preview-film>

</div>
